html {
    font-family: 'Lato';
    background-image: url(/assets/sfondo.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.673);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

h1{
   color: rgb(22 235 71);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main{
    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(38, 116, 189, 0.676); */
    padding: 30px 10px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px rgb(18, 145, 224); */
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    /* border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(167, 167, 167); */
}

input{
    border-radius: 5px;
    border: solid rgb(218, 215, 215) 1px;
    padding: 8px;
    margin: 0px 5px;
    background-color: rgba(255, 255, 255, 0.502);
}

.block-form{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottone{
    border: solid transparent 1px;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}

.search-button{
    background-color: rgb(57, 143, 57);
    color: white;
}

.reset-button{
    background-color: rgb(107, 107, 107);
    color: white;
}

.result-block{
    margin: 20px 10px;
    padding: 15px 20px;
    border: solid rgba(253, 253, 253, 0) 1px;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(191, 191, 191);
}

.result-block h1{
    text-align: center;
    color: black;
}

ul{
    list-style: none;
    padding: 0px;
}

li{
    color: black;
    border-bottom: solid rgb(185, 185, 185) 1px;
    padding: 10px 10px;
}
